@use 'settings';
@use 'tools';

:host {
  align-items: baseline;
  border-bottom: 1px solid settings.$color-accent;
  display: flex;
  padding: settings.$spacing-base;

  @media (orientation: portrait) {
    padding-top: settings.$spacing-base * 3;
  }

  @include tools.media-small--portrait {
    padding-top: settings.$spacing-base * 2;
  }

  @include tools.media-tiny--portrait {
    padding: settings.$spacing-base settings.$spacing-sm settings.$spacing-sm;
  }

  .c-header {
    &--left {
      flex: 1;
      text-align: left;
    }

    &--title {
      flex: 1;
      font-size: settings.$font-xl;
      text-align: center;
      white-space: nowrap;
    }

    &--right {
      flex: 1;
      text-align: right;
    }

    &--cancel-button {
      @include tools.button-reset;
      font-size: settings.$font-base;
    }
  }
}
