@use 'tools';
@use 'settings';
@use 'sass:math';

$viewfinder-stroke-width: 4px;
$viewfinder-stand-offset: 7%;

@mixin aspect-ratio {
  aspect-ratio: 375/295;

  @include tools.media-tiny--portrait {
    aspect-ratio: 16/9;
  }
}

:host {
  background-color: #000;
  display: block;

  /* stylelint-disable-next-line selector-pseudo-element-no-unknown */
  ::ng-deep {
    .webcam-wrapper {
      @include aspect-ratio;

      align-items: center;
      display: flex !important;
      overflow: hidden;
    }

    video {
      height: auto !important;
      width: 100% !important;
    }

    pinch-zoom {
      display: flex;
    }
  }

  .c-camera {
    &--container {
      @include aspect-ratio;

      display: flex;
      flex: 1;
      overflow: hidden;
      position: relative;
    }

    &--viewfinder {
      left: 50%;
      pointer-events: none;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 90%;
      z-index: map-get(settings.$z-index, 'viewfinder');

      &__tv-frame {
        border: $viewfinder-stroke-width solid #fff;
        box-shadow: 0 0 0 999px rgb(0 0 0 / 50%);
        content: '';
        display: block;
        padding-top: math.div(9, 16) * 100%;
        position: relative;
      }

      &__tv-stand {
        border-bottom: $viewfinder-stroke-width solid #fff;
        border-radius: 5px;
        bottom: -$viewfinder-stand-offset;
        left: 50%;
        position: absolute;
        transform: translate(-50%, $viewfinder-stand-offset);
        width: 15%;
      }

      &__tv-connector {
        border-left: $viewfinder-stroke-width solid #fff;
        bottom: -$viewfinder-stand-offset;
        content: '';
        height: $viewfinder-stand-offset;
        left: 50%;
        position: absolute;
        transform: translate(-50%, 0);
      }
    }

    &--footer {
      &__powered-by {
        bottom: settings.$spacing-sm;
        color: #fff;
        font-size: settings.$font-xs;
        font-weight: 200;
        left: 0;
        position: absolute;
        right: 0;
        text-align: center;
        z-index: map-get(settings.$z-index, 'viewfinder') + 1;

        /* stylelint-disable-next-line max-nesting-depth*/
        @include tools.media-tiny--portrait {
          bottom: settings.$spacing-xs;
        }
      }
    }
  }
}
