<div class="c-game-line">
  <div class="c-game-line__competitor">
    {{ competitorName }}
  </div>

  <div class="c-game-line__boxes">
    <div
      class="c-game-line__box"
      [class.c-game-line__box--best]="line.spreadBest"
      [class.c-game-line__box--clickable]="line.spreadUrl"
      [class.c-game-line__box--hidden]="!line.spreadOdds"
      (click)="openOutcomeRedirectUrl($event, line.spreadUrl)"
    >
      <div class="c-game-line__sport-books-name" *ngIf="(line | bestOfferLine).spreadSportsBookName as sportsBookName">
        {{ sportsBookName }}
      </div>
      <div class="c-game-line__target">{{ line.spread | numberFormat }}</div>
      <div class="c-game-line__odds">{{ line.spreadOdds | numberFormat }}</div>
    </div>
    <div
      class="c-game-line__box"
      [class.c-game-line__box--best]="line.moneylineBest"
      [class.c-game-line__box--clickable]="line.moneylineUrl"
      [class.c-game-line__box--hidden]="!line.moneyline"
      (click)="openOutcomeRedirectUrl($event, line.moneylineUrl)"
    >
      <div class="c-game-line__sport-books-name" *ngIf="(line | bestOfferLine).moneySportsBookName as sportsBookName">
        {{ sportsBookName }}
      </div>
      <div class="c-game-line__target"></div>
      <div class="c-game-line__odds">{{ line.moneyline | numberFormat }}</div>
    </div>
    <div
      class="c-game-line__box"
      [class.c-game-line__box--best]="line.overUnderBest"
      [class.c-game-line__box--clickable]="line.overUnderUrl"
      [class.c-game-line__box--hidden]="!line.overUnderOdds"
      (click)="openOutcomeRedirectUrl($event, line.overUnderUrl)"
    >
      <div
        class="c-game-line__sport-books-name"
        *ngIf="(line | bestOfferLine).overUnderSportsBookName as sportsBookName"
      >
        {{ sportsBookName }}
      </div>
      <div class="c-game-line__target">
        <ng-container *ngIf="lineIndex === 0">O</ng-container>
        <ng-container *ngIf="lineIndex === 1">U</ng-container>
        {{ line.overUnder }}
      </div>
      <div class="c-game-line__odds">{{ line.overUnderOdds | numberFormat }}</div>
    </div>
  </div>
</div>
<div class="c-game-line" *ngIf="lineIndex === 0">
  <div class="c-game-line__competitor c-game-line__competitor--separator"></div>

  <div class="c-game-line__boxes">
    <div class="c-game-line__box c-game-line__box--separator"></div>
    <div class="c-game-line__box c-game-line__box--separator"></div>
    <div class="c-game-line__box c-game-line__box--separator"></div>
  </div>
</div>
