$color-accent: var(--snapodds__color--accent);
$color-primary: var(--snapodds__color--primary);
$color-warn: var(--snapodds__color--warn);
$color-info: var(--snapodds__color--info);
$color-info-text: var(--snapodds__color--info-text);
$color-info-background: var(--snapodds__color--info-background);
$color-text: var(--snapodds__color-text);
$color-text-focus: var(--snapodds__color-text--focus);
$color-background: var(--snapodds__color-background);
