$color-primary: var(--snapodds__color--primary);
$color-accent: var(--snapodds__color--accent);
$color-warn: var(--snapodds__color--warn);
$color-text: var(--snapodds__color-text);
$color-text-focus: var(--snapodds__color-text--focus);
$color-background: var(--snapodds__color-background);
