$color-accent: var(--snapodds__color--accent);
$color-accent-shade: var(--snapodds__color--accent-shade);
$color-primary: var(--snapodds__color--primary);
$color-warn: var(--snapodds__color--warn);
$color-warn-shade: var(--snapodds__color--warn-shade);
$color-text: var(--snapodds__color-text);
$color-text-focus: var(--snapodds__color-text--focus);
$color-background: var(--snapodds__color-background);
$color-background-shade: var(--snapodds__color-background--shade);
