<snapodds-header>
  {{ 'Snapodds_Title_Odds' | translate }}
  <div right>
    <button (click)="closeOddsView.next()">
      {{ 'Snapodds_Title_Snap_TV' | translate }}
    </button>
  </div>
</snapodds-header>

<snapodds-content *ngIf="tvSearchResultEntry as result">
  <p class="c-sport-event">
    <span class="c-sport-event__tournament">{{ result.sportEvent.tournament }}</span>
    <span class="c-sport-event__channel">
      {{ result.tvChannel.name }} <br />{{ result.sportEvent.startTime | date: 'short' }}
    </span>
  </p>

  <div class="c-competitors">
    <ng-container *ngFor="let competitor of result.sportEvent.competitors; let first = first">
      <span>{{ competitor.name }}</span>
      <span *ngIf="first" class="c-competitors__separator"></span>
    </ng-container>
  </div>

  <div *ngIf="loading" class="c-feedback">
    <snapodds-spinner size="small" class="c-feedback__spinner"></snapodds-spinner>
    {{ 'Snapodds_Lines_Loading' | translate }}
  </div>

  <div *ngIf="noResults" class="c-feedback">
    {{ 'Snapodds_Lines_No_Results' | translate }}
  </div>

  <div class="c-game-container" *ngIf="lineOdds as lineOdds">
    <div class="c-game c-game--best-offer" *ngIf="lineOdds.bestOffer as bestOffer">
      <div class="c-game-header">
        <div class="c-game-header__sportbook">{{ bestOffer.name }}</div>

        <div class="c-game-header__lines">
          <div class="c-game-header__line">Spread</div>
          <div class="c-game-header__line">Moneyline</div>
          <div class="c-game-header__line">Total</div>
        </div>
      </div>

      <snapodds-odds-line
        *ngFor="let line of bestOffer.lines; let i = index"
        [line]="line"
        [lineIndex]="i"
        [competitorName]="lineOdds.competitors[i].name"
      ></snapodds-odds-line>
    </div>

    <div class="c-game" *ngFor="let sportBook of lineOdds.sportsBooks">
      <div class="c-game-header">
        <div class="c-game-header__sportbook">{{ sportBook.name }}</div>

        <div class="c-game-header__lines">
          <div class="c-game-header__line">Spread</div>
          <div class="c-game-header__line">Moneyline</div>
          <div class="c-game-header__line">Total</div>
        </div>
      </div>

      <a
        class="c-game__link"
        href="{{ sportBook.redirectUrl }}"
        rel="noopener noreferrer"
        target="_blank"
        *ngFor="let line of sportBook.lines; let i = index"
      >
        <snapodds-odds-line
          [line]="line"
          [lineIndex]="i"
          [competitorName]="lineOdds.competitors[i].name"
        ></snapodds-odds-line>
      </a>
    </div>
  </div>
</snapodds-content>
