@use 'tools';
@use 'settings';

$box--width: 4rem;

:host {
  display: flex;
  flex: 1;
  flex-direction: column;

  button {
    @include tools.button-reset();
    font-size: settings.$font-base;
  }

  snapodds-content {
    background-color: settings.$color-accent;
    justify-content: flex-start;
  }

  .c-feedback {
    align-items: center;
    background-color: settings.$color-background;
    display: flex;
    font-size: settings.$font-sm;
    justify-content: center;
    padding: settings.$spacing-base;

    &__spinner {
      line-height: 1;
      margin-right: settings.$spacing-sm;
    }
  }

  .c-sport-event {
    align-items: center;
    background-color: settings.$color-background;
    display: flex;
    font-size: settings.$font-sm;
    font-weight: 400;
    justify-content: space-between;
    margin: 0;
    padding: settings.$spacing-base;

    @include tools.media-tiny--portrait {
      padding: settings.$spacing-sm;
    }

    &__tournament {
      font-weight: 700;
    }

    &__channel {
      text-align: right;
    }
  }

  .c-competitors {
    background-color: settings.$color-primary;
    box-sizing: border-box;
    color: settings.$color-text-focus;
    display: flex;
    flex-direction: column;
    font-size: settings.$font-base;
    padding: settings.$spacing-base;
    text-align: center;

    &__separator {
      border-bottom: 1px solid rgba(255, 255, 255, 0.4);
      display: inline-block;
      margin: 0.5rem 0;
    }
  }

  .c-game {
    border-bottom: 2px solid settings.$color-accent;
    display: flex;
    flex-direction: column;
    padding: settings.$spacing-sm settings.$spacing-base;

    @include tools.media-tiny--portrait {
      padding: settings.$spacing-sm;
    }

    &__link {
      color: settings.$color-text;
      text-decoration: none;
    }

    &--best-offer {
      background-color: settings.$color-info;
      color: settings.$color-info-text;
    }
  }

  .c-game-container {
    background-color: settings.$color-background;
    margin-top: 0.1rem;
  }

  .c-game-header {
    display: flex;
    justify-content: space-between;

    &__sportbook {
      font-size: settings.$font-base;
      font-weight: 700;

      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__lines {
      align-items: flex-end;
      display: flex;
    }

    &__line {
      box-sizing: border-box;
      display: flex;

      font-size: settings.$font-xs;
      font-weight: 400;
      justify-content: flex-end;

      margin: 0.2rem;
      text-align: right;
      width: $box--width;
    }
  }
}
