<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>SnapOdds SDK</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
	   <link rel="stylesheet" href="../styles/style.css">
        <link rel="stylesheet" href="../styles/dark.css">
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top visible-xs">
            <a href="../" class="navbar-brand">SnapOdds SDK</a>
            <button type="button" class="btn btn-default btn-menu ion-ios-menu" id="btn-menu"></button>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
                <div id="book-search-input" role="search"><input type="text" placeholder="Type to search"></div>            <compodoc-menu></compodoc-menu>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="hidden-xs menu">
                   <compodoc-menu mode="normal"></compodoc-menu>
               </div>
               <!-- START CONTENT -->
               <div class="content component">
                   <div class="content-data">




<ol class="breadcrumb">
  <li>Components</li>
  <li
  >
  WebcamComponent</li>
</ol>

<ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#info" role="tab" id="info-tab" data-toggle="tab" data-link="info">Info</a>
        </li>
        <li >
            <a href="#source" role="tab" id="source-tab" data-toggle="tab" data-link="source">Source</a>
        </li>
        <li >
            <a href="#templateData" role="tab" id="templateData-tab" data-toggle="tab" data-link="template">Template</a>
        </li>
        <li >
            <a href="#styleData" role="tab" id="styleData-tab" data-toggle="tab" data-link="style">Styles</a>
        </li>
        <li >
            <a href="#tree" role="tab" id="tree-tab" data-toggle="tab" data-link="dom-tree">DOM Tree</a>
        </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="c-info"><p class="comment">
    <h3>File</h3>
</p>
<p class="comment">
    <code>apps/snapodds/src/app/webcam/webcam.component.ts</code>
</p>




    <p class="comment">
        <h3>Implements</h3>
    </p>
    <p class="comment">
                    <code><a href="https://angular.io/api/core/OnInit" target="_blank" >OnInit</a></code>
                    <code><a href="https://angular.io/api/core/AfterViewInit" target="_blank" >AfterViewInit</a></code>
    </p>


<section>
    <h3>Metadata</h3>
    <table class="table table-sm table-hover metadata">
        <tbody>











            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>snapodds-webcam</code></td>
            </tr>

            <tr>
                <td class="col-md-3">styleUrls</td>
                <td class="col-md-9"><code>./webcam.component.scss</code></td>
            </tr>



            <tr>
                <td class="col-md-3">templateUrl</td>
                <td class="col-md-9"><code>./webcam.component.html</code></td>
            </tr>








        </tbody>
    </table>
</section>

    <section>
    <h3 id="index">Index</h3>
    <table class="table table-sm table-bordered index-table">
        <tbody>
                <tr>
                    <td class="col-md-4">
                        <h6><b>Properties</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#hasMultipleWebcams" >hasMultipleWebcams</a>
                            </li>
                            <li>
                                <a href="#imageAsDataUrl" >imageAsDataUrl</a>
                            </li>
                            <li>
                                    <span class="modifier">Private</span>
                                <a href="#nextWebcam" >nextWebcam</a>
                            </li>
                            <li>
                                <a href="#nextWebcam$" >nextWebcam$</a>
                            </li>
                            <li>
                                <a href="#pinchZoomComponent" >pinchZoomComponent</a>
                            </li>
                            <li>
                                <a href="#videoOptions" >videoOptions</a>
                            </li>
                            <li>
                                <a href="#viewFinder" >viewFinder</a>
                            </li>
                            <li>
                                <a href="#webcamComponent" >webcamComponent</a>
                            </li>
                            <li>
                                <a href="#webcamComponentElement" >webcamComponentElement</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td class="col-md-4">
                        <h6><b>Methods</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#cameraSwitched" >cameraSwitched</a>
                            </li>
                            <li>
                                    <span class="modifier">Private</span>
                                <a href="#centerContentOnZoom" >centerContentOnZoom</a>
                            </li>
                            <li>
                                <a href="#debugImageManipulations" >debugImageManipulations</a>
                            </li>
                            <li>
                                    <span class="modifier">Private</span>
                                <a href="#drawDebugImage" >drawDebugImage</a>
                            </li>
                            <li>
                                    <span class="modifier">Private</span>
                                <a href="#getViewFinder" >getViewFinder</a>
                            </li>
                            <li>
                                <a href="#handleInitError" >handleInitError</a>
                            </li>
                            <li>
                                <a href="#ngAfterViewInit" >ngAfterViewInit</a>
                            </li>
                            <li>
                                <a href="#ngOnInit" >ngOnInit</a>
                            </li>
                            <li>
                                <a href="#switchToNextWebcam" >switchToNextWebcam</a>
                            </li>
                            <li>
                                <a href="#triggerSnapshot" >triggerSnapshot</a>
                            </li>
                        </ul>
                    </td>
                </tr>





        </tbody>
    </table>
</section>

    <section>
    <h3 id="constructor">Constructor</h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
<code>constructor(imageManipulationService: <a href="../injectables/ImageManipulationService.html" target="_self">ImageManipulationService</a>, applicationConfigService: <a href="../injectables/ApplicationConfigService.html" target="_self">ApplicationConfigService</a>, appStateStore: <a href="../injectables/AppStateStore.html" target="_self">AppStateStore</a>, logger: <a href="../injectables/LoggerService.html" target="_self">LoggerService</a>, mediaDeviceStateStore: <a href="../injectables/MediaDeviceStateStore.html" target="_self">MediaDeviceStateStore</a>)</code>
                    </td>
                </tr>
                        <tr>
                            <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="33" class="link-to-prism">apps/snapodds/src/app/webcam/webcam.component.ts:33</a></div>
                            </td>
                        </tr>

                <tr>
                    <td class="col-md-4">
                            <div>
                                    <b>Parameters :</b>
                                    <table class="params">
                                        <thead>
                                            <tr>
                                                <td>Name</td>
                                                    <td>Type</td>
                                                <td>Optional</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                <tr>
                                                        <td>imageManipulationService</td>
                                                  
                                                        <td>
                                                                        <code><a href="../injectables/ImageManipulationService.html" target="_self" >ImageManipulationService</a></code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                                <tr>
                                                        <td>applicationConfigService</td>
                                                  
                                                        <td>
                                                                        <code><a href="../injectables/ApplicationConfigService.html" target="_self" >ApplicationConfigService</a></code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                                <tr>
                                                        <td>appStateStore</td>
                                                  
                                                        <td>
                                                                        <code><a href="../injectables/AppStateStore.html" target="_self" >AppStateStore</a></code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                                <tr>
                                                        <td>logger</td>
                                                  
                                                        <td>
                                                                        <code><a href="../injectables/LoggerService.html" target="_self" >LoggerService</a></code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                                <tr>
                                                        <td>mediaDeviceStateStore</td>
                                                  
                                                        <td>
                                                                        <code><a href="../injectables/MediaDeviceStateStore.html" target="_self" >MediaDeviceStateStore</a></code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                        </tbody>
                                    </table>
                            </div>
                    </td>
                </tr>
            </tbody>
        </table>
</section>





    <section>
    
    <h3 id="methods">
        Methods
    </h3>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="cameraSwitched"></a>
                    <span class="name">
                        <span ><b>cameraSwitched</b></span>
                        <a href="#cameraSwitched"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>cameraSwitched(deviceId: <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/string" target="_blank">string</a>)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="132"
                            class="link-to-prism">apps/snapodds/src/app/webcam/webcam.component.ts:132</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-description"><p>Callback which is executed when the video stream of a webcam is ready for further processing.</p>
</div>

                    <div class="io-description">
                        <b>Parameters :</b>
                        
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Type</td>
                                    <td>Optional</td>
                                    <td>Description</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>deviceId</td>
                                    <td>
                                                <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/string" target="_blank" >string</a></code>
                                    </td>

                                    <td>
                                        No
                                    </td>


                                    <td>
                                        <p>: the webcams device id inside the browser</p>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="centerContentOnZoom"></a>
                    <span class="name">
                        <span class="modifier">Private</span>
                        <span ><b>centerContentOnZoom</b></span>
                        <a href="#centerContentOnZoom"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
                    <span class="modifier-icon icon ion-ios-reset"></span>
                    <code>centerContentOnZoom()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="148"
                            class="link-to-prism">apps/snapodds/src/app/webcam/webcam.component.ts:148</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-description"><p>Patches the ngx-pinch-zoom component by not taking the cursors offset into account when zooming into the video stream.</p>
</div>

                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="debugImageManipulations"></a>
                    <span class="name">
                        <span ><b>debugImageManipulations</b></span>
                        <a href="#debugImageManipulations"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>debugImageManipulations()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="140"
                            class="link-to-prism">apps/snapodds/src/app/webcam/webcam.component.ts:140</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-description"><p>Used to determine if the debug output of the manipulated image should be shown or not</p>
</div>

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/boolean" target="_blank" >boolean</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="drawDebugImage"></a>
                    <span class="name">
                        <span class="modifier">Private</span>
                        <span ><b>drawDebugImage</b></span>
                        <a href="#drawDebugImage"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
                    <span class="modifier-icon icon ion-ios-reset"></span>
                    <code>drawDebugImage(blob: Blob)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="105"
                            class="link-to-prism">apps/snapodds/src/app/webcam/webcam.component.ts:105</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-description"><p>Converts a blob image into a dataUrl which can be rendered in the template</p>
</div>

                    <div class="io-description">
                        <b>Parameters :</b>
                        
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Type</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>blob</td>
                                    <td>
                                            <code>Blob</code>
                                    </td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="getViewFinder"></a>
                    <span class="name">
                        <span class="modifier">Private</span>
                        <span ><b>getViewFinder</b></span>
                        <a href="#getViewFinder"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
                    <span class="modifier-icon icon ion-ios-reset"></span>
                    <code>getViewFinder()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="94"
                            class="link-to-prism">apps/snapodds/src/app/webcam/webcam.component.ts:94</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-description"><p>If <code>autoSnap</code> is enabled then only the tv-frame is used as viewFinder, otherwise the whole visible are is used.</p>
</div>

                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>    <code>HTMLElement</code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="handleInitError"></a>
                    <span class="name">
                        <span ><b>handleInitError</b></span>
                        <a href="#handleInitError"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>handleInitError(error: WebcamInitError)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="115"
                            class="link-to-prism">apps/snapodds/src/app/webcam/webcam.component.ts:115</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-description"><p>If the device can&#39;t be accessed, triggers the rendering of the according error page.</p>
</div>

                    <div class="io-description">
                        <b>Parameters :</b>
                        
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Type</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>error</td>
                                    <td>
                                            <code>WebcamInitError</code>
                                    </td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="ngAfterViewInit"></a>
                    <span class="name">
                        <span ><b>ngAfterViewInit</b></span>
                        <a href="#ngAfterViewInit"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>ngAfterViewInit()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="60"
                            class="link-to-prism">apps/snapodds/src/app/webcam/webcam.component.ts:60</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-description"><p>After the view and its components are initialized, the zoom library will be patched to only allow zoom on center</p>
</div>

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="ngOnInit"></a>
                    <span class="name">
                        <span ><b>ngOnInit</b></span>
                        <a href="#ngOnInit"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>ngOnInit()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="46"
                            class="link-to-prism">apps/snapodds/src/app/webcam/webcam.component.ts:46</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-description"><p>Verifies the available video inputs and if none are found triggers the rendering of the error view</p>
</div>

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="switchToNextWebcam"></a>
                    <span class="name">
                        <span ><b>switchToNextWebcam</b></span>
                        <a href="#switchToNextWebcam"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>switchToNextWebcam()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="124"
                            class="link-to-prism">apps/snapodds/src/app/webcam/webcam.component.ts:124</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-description"><p>Toggles between available webcams</p>
</div>

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="triggerSnapshot"></a>
                    <span class="name">
                        <span ><b>triggerSnapshot</b></span>
                        <a href="#triggerSnapshot"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>triggerSnapshot()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="72"
                            class="link-to-prism">apps/snapodds/src/app/webcam/webcam.component.ts:72</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-description"><p>Takes a snapshot from the webcams video stream and crops it to the area that is visible to the user.</p>
<p>If the <code>environment.debugImageManipulations</code> is turned on will render the cropped image in the browser for verification</p>
</div>

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="../miscellaneous/typealiases.html#ManipulatedImage" target="_self" >Promise&lt;ManipulatedImage&gt;</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</section>
    <section>
    
    <h3 id="inputs">
        Properties
    </h3>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="hasMultipleWebcams"></a>
                    <span class="name">
                        <span ><b>hasMultipleWebcams</b></span>
                        <a href="#hasMultipleWebcams"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Default value : </i><code>false</code>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="30" class="link-to-prism">apps/snapodds/src/app/webcam/webcam.component.ts:30</a></div>
                        </td>
                    </tr>


        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="imageAsDataUrl"></a>
                    <span class="name">
                        <span ><b>imageAsDataUrl</b></span>
                        <a href="#imageAsDataUrl"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>    <code>string | ArrayBuffer | null | undefined</code>

                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="19" class="link-to-prism">apps/snapodds/src/app/webcam/webcam.component.ts:19</a></div>
                        </td>
                    </tr>


        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="nextWebcam"></a>
                    <span class="name">
                            <span class="modifier">Private</span>
                        <span ><b>nextWebcam</b></span>
                        <a href="#nextWebcam"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>    <code>Subject&lt;boolean | string&gt;</code>

                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Default value : </i><code>new Subject()</code>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="32" class="link-to-prism">apps/snapodds/src/app/webcam/webcam.component.ts:32</a></div>
                        </td>
                    </tr>


        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="nextWebcam$"></a>
                    <span class="name">
                        <span ><b>nextWebcam$</b></span>
                        <a href="#nextWebcam$"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>    <code>Observable&lt;boolean | string&gt;</code>

                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Default value : </i><code>this.nextWebcam.asObservable()</code>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="33" class="link-to-prism">apps/snapodds/src/app/webcam/webcam.component.ts:33</a></div>
                        </td>
                    </tr>


        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="pinchZoomComponent"></a>
                    <span class="name">
                        <span ><b>pinchZoomComponent</b></span>
                        <a href="#pinchZoomComponent"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>    <code>PinchZoomComponent</code>

                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <b>Decorators : </b>
                        <br />
                        <code>
                            @ViewChild(PinchZoomComponent)<br />
                        </code>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="27" class="link-to-prism">apps/snapodds/src/app/webcam/webcam.component.ts:27</a></div>
                        </td>
                    </tr>


        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="videoOptions"></a>
                    <span class="name">
                        <span ><b>videoOptions</b></span>
                        <a href="#videoOptions"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>    <code>MediaTrackConstraints</code>

                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Default value : </i><code>{
    facingMode: { ideal: &#x27;environment&#x27; },
    width: { min: 320, ideal: 1920, max: 2560 },
  }</code>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="20" class="link-to-prism">apps/snapodds/src/app/webcam/webcam.component.ts:20</a></div>
                        </td>
                    </tr>


        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="viewFinder"></a>
                    <span class="name">
                        <span ><b>viewFinder</b></span>
                        <a href="#viewFinder"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>        <code><a href="https://angular.io/api/core/ElementRef" target="_blank" >ElementRef</a></code>

                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <b>Decorators : </b>
                        <br />
                        <code>
                            @ViewChild(&#x27;viewFinder&#x27;)<br />
                        </code>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="28" class="link-to-prism">apps/snapodds/src/app/webcam/webcam.component.ts:28</a></div>
                        </td>
                    </tr>


        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="webcamComponent"></a>
                    <span class="name">
                        <span ><b>webcamComponent</b></span>
                        <a href="#webcamComponent"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>        <code><a href="../components/WebcamComponent.html" target="_self" >NgxWebcamComponent</a></code>

                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <b>Decorators : </b>
                        <br />
                        <code>
                            @ViewChild(NgxWebcamComponent)<br />
                        </code>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="25" class="link-to-prism">apps/snapodds/src/app/webcam/webcam.component.ts:25</a></div>
                        </td>
                    </tr>


        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="webcamComponentElement"></a>
                    <span class="name">
                        <span ><b>webcamComponentElement</b></span>
                        <a href="#webcamComponentElement"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>        <code><a href="../components/WebcamComponent.html" target="_self" >ElementRef&lt;NgxWebcamComponent&gt;</a></code>

                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <b>Decorators : </b>
                        <br />
                        <code>
                            @ViewChild(NgxWebcamComponent, {read: ElementRef})<br />
                        </code>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="26" class="link-to-prism">apps/snapodds/src/app/webcam/webcam.component.ts:26</a></div>
                        </td>
                    </tr>


        </tbody>
    </table>
</section>

</div>


    <div class="tab-pane fade  tab-source-code" id="c-source">
        <pre class="line-numbers compodoc-sourcecode"><code class="language-typescript">import { AfterViewInit, Component, ElementRef, OnInit, ViewChild } from &#x27;@angular/core&#x27;;
import { PinchZoomComponent } from &#x27;ngx-pinch-zoom&#x27;;
import { WebcamComponent as NgxWebcamComponent, WebcamInitError, WebcamUtil } from &#x27;ngx-webcam&#x27;;
import { Observable, Subject } from &#x27;rxjs&#x27;;
import { environment } from &#x27;../../environments/environment&#x27;;
import { ApplicationConfigService } from &#x27;../../services/config/application-config.service&#x27;;
import { ImageManipulationService } from &#x27;../../services/image-manipulation/image-manipulation.service&#x27;;
import { ManipulatedImage } from &#x27;../../services/image-manipulation/manipulated-image&#x27;;
import { LoggerService } from &#x27;../../services/logger/logger.service&#x27;;
import { AppState, AppStateStore } from &#x27;../../states/app-state.store&#x27;;
import { MediaDeviceState, MediaDeviceStateStore } from &#x27;../../states/media-device-state.store&#x27;;

@Component({
  selector: &#x27;snapodds-webcam&#x27;,
  templateUrl: &#x27;./webcam.component.html&#x27;,
  styleUrls: [&#x27;./webcam.component.scss&#x27;],
})
export class WebcamComponent implements OnInit, AfterViewInit {
  imageAsDataUrl: string | ArrayBuffer | null | undefined;
  videoOptions: MediaTrackConstraints &#x3D; {
    facingMode: { ideal: &#x27;environment&#x27; },
    width: { min: 320, ideal: 1920, max: 2560 },
  };

  @ViewChild(NgxWebcamComponent) webcamComponent!: NgxWebcamComponent;
  @ViewChild(NgxWebcamComponent, { read: ElementRef }) webcamComponentElement!: ElementRef&lt;NgxWebcamComponent&gt;;
  @ViewChild(PinchZoomComponent) pinchZoomComponent!: PinchZoomComponent;
  @ViewChild(&#x27;viewFinder&#x27;) viewFinder!: ElementRef;

  hasMultipleWebcams &#x3D; false;

  private nextWebcam: Subject&lt;boolean | string&gt; &#x3D; new Subject();
  nextWebcam$: Observable&lt;boolean | string&gt; &#x3D; this.nextWebcam.asObservable();

  constructor(
    private readonly imageManipulationService: ImageManipulationService,
    private readonly applicationConfigService: ApplicationConfigService,
    private readonly appStateStore: AppStateStore,
    private readonly logger: LoggerService,
    readonly mediaDeviceStateStore: MediaDeviceStateStore
  ) {}

  /**
   * Verifies the available video inputs and if none are found triggers the rendering of the error view
   */
  ngOnInit(): void {
    WebcamUtil.getAvailableVideoInputs().then((mediaDevices: MediaDeviceInfo[]) &#x3D;&gt; {
      this.hasMultipleWebcams &#x3D; mediaDevices.length &gt; 1;

      if (mediaDevices.length &#x3D;&#x3D;&#x3D; 0) {
        this.mediaDeviceStateStore.dispatch(MediaDeviceState.DEVICE_NO_CAMERA);
        this.appStateStore.dispatch(AppState.DEVICE_NO_CAMERA);
      }
    });
  }

  /**
   * After the view and its components are initialized, the zoom library will be patched to only allow zoom on center
   */
  ngAfterViewInit(): void {
    this.centerContentOnZoom();
  }

  /**
   * Takes a snapshot from the webcams video stream and crops it to the area that is visible to the user.
   *
   * If the &#x60;environment.debugImageManipulations&#x60; is turned on will render the cropped image in the browser for verification
   *
   * @throws &#x27;Debug webcam image&#x27; to interrupt further processing when debugImageManipulations is turned on.
   *
   */
  triggerSnapshot(): Promise&lt;ManipulatedImage&gt; {
    return this.imageManipulationService
      .cropAndResizeImage(
        this.webcamComponent.nativeVideoElement,
        this.getViewFinder(),
        this.pinchZoomComponent.scale,
        this.applicationConfigService.getSnapDimension()
      )
      .then((manipulatedImage) &#x3D;&gt; {
        if (this.debugImageManipulations()) {
          this.drawDebugImage(manipulatedImage.blob);
          throw &#x27;Debug webcam image&#x27;;
        }
        this.logger.info(&#x27;Received webcam image&#x27;, manipulatedImage);
        return manipulatedImage;
      });
  }

  /**
   * If &#x60;autoSnap&#x60; is enabled then only the tv-frame is used as viewFinder, otherwise the whole visible are is used.
   * @private
   */
  private getViewFinder(): HTMLElement {
    return this.applicationConfigService.isAutoSnapEnabled()
      ? this.viewFinder.nativeElement
      : this.webcamComponentElement.nativeElement;
  }

  /**
   * Converts a blob image into a dataUrl which can be rendered in the template
   * @param blob
   * @private
   */
  private drawDebugImage(blob: Blob): void {
    const reader &#x3D; new FileReader();
    reader.onloadend &#x3D; () &#x3D;&gt; (this.imageAsDataUrl &#x3D; reader.result);
    reader.readAsDataURL(blob);
  }

  /**
   * If the device can&#x27;t be accessed, triggers the rendering of the according error page.
   * @param error
   */
  handleInitError(error: WebcamInitError): void {
    this.mediaDeviceStateStore.dispatch(MediaDeviceState.DEVICE_NO_PERMISSION);
    this.appStateStore.dispatch(AppState.DEVICE_NO_PERMISSION);
    this.logger.error(&#x27;Failed to initialize webcam&#x27;, error);
  }

  /**
   * Toggles between available webcams
   */
  switchToNextWebcam(): void {
    this.nextWebcam.next(true);
  }

  /**
   * Callback which is executed when the video stream of a webcam is ready for further processing.
   * @param deviceId: the webcams device id inside the browser
   */
  cameraSwitched(deviceId: string) {
    this.mediaDeviceStateStore.dispatch(MediaDeviceState.DEVICE_CAMERA_READY);
    this.logger.info(&#x27;Camera device switched. DeviceId:&#x27;, deviceId);
  }

  /**
   * Used to determine if the debug output of the manipulated image should be shown or not
   */
  debugImageManipulations(): boolean {
    return environment.debugImageManipulations;
  }

  /**
   * Patches the ngx-pinch-zoom component by not taking the cursors offset into account when zooming into the video stream.
   * @private
   */
  private centerContentOnZoom(): void {
    Object.defineProperty(this.pinchZoomComponent.pinchZoom, &#x27;moveX&#x27;, {
      get() {
        return -Math.abs((this.element.offsetWidth * (1 - this.scale)) / 2);
      },
      set() {
        return;
      },
    });

    Object.defineProperty(this.pinchZoomComponent.pinchZoom, &#x27;moveY&#x27;, {
      get() {
        return -Math.abs((this.element.offsetHeight * (1 - this.scale)) / 2);
      },
      set() {
        return;
      },
    });
  }
}
</code></pre>
    </div>

    <div class="tab-pane fade " id="c-templateData">
        <pre class="line-numbers"><code class="language-html">&lt;div class&#x3D;&quot;c-camera--container&quot;&gt;
  &lt;pinch-zoom [disablePan]&#x3D;&quot;true&quot; [disableZoomControl]&#x3D;&quot;&#x27;disable&#x27;&quot; [limitPan]&#x3D;&quot;true&quot; [minScale]&#x3D;&quot;1&quot;&gt;
    &lt;webcam
      (cameraSwitched)&#x3D;&quot;cameraSwitched($event)&quot;
      (initError)&#x3D;&quot;handleInitError($event)&quot;
      [allowCameraSwitch]&#x3D;&quot;false&quot;
      [switchCamera]&#x3D;&quot;nextWebcam$&quot;
      [videoOptions]&#x3D;&quot;videoOptions&quot;
    &gt;&lt;/webcam&gt;
  &lt;/pinch-zoom&gt;

  &lt;div class&#x3D;&quot;c-camera--viewfinder&quot; #viewFinder *ngIf&#x3D;&quot;mediaDeviceStateStore.webcamIsReady$ | async&quot;&gt;
    &lt;div class&#x3D;&quot;c-camera--viewfinder__tv-frame&quot;&gt;&lt;/div&gt;
    &lt;div class&#x3D;&quot;c-camera--viewfinder__tv-stand&quot;&gt;&lt;/div&gt;
    &lt;div class&#x3D;&quot;c-camera--viewfinder__tv-connector&quot;&gt;&lt;/div&gt;
  &lt;/div&gt;

  &lt;div class&#x3D;&quot;c-camera--footer__powered-by&quot;&gt;Powered by SnapOdds&lt;/div&gt;
&lt;/div&gt;

&lt;ng-container *ngIf&#x3D;&quot;debugImageManipulations()&quot;&gt;
  &lt;img
    *ngIf&#x3D;&quot;imageAsDataUrl&quot;
    [src]&#x3D;&quot;imageAsDataUrl&quot;
    style&#x3D;&quot;max-width: 320px; outline: 1px solid red&quot;
    alt&#x3D;&quot;debug-image&quot;
  /&gt;
&lt;/ng-container&gt;
</code></pre>
    </div>

    <div class="tab-pane fade " id="c-styleData">
                <p class="comment">
                    <code>./webcam.component.scss</code>
                </p>
                <pre class="line-numbers"><code class="language-scss">@use &#x27;tools&#x27;;
@use &#x27;settings&#x27;;
@use &#x27;sass:math&#x27;;

$viewfinder-stroke-width: 4px;
$viewfinder-stand-offset: 7%;

@mixin aspect-ratio {
  aspect-ratio: 375/295;

  @include tools.media-tiny--portrait {
    aspect-ratio: 16/9;
  }
}

:host {
  background-color: #000;
  display: block;

  /* stylelint-disable-next-line selector-pseudo-element-no-unknown */
  ::ng-deep {
    .webcam-wrapper {
      @include aspect-ratio;

      align-items: center;
      display: flex !important;
      overflow: hidden;
    }

    video {
      height: auto !important;
      width: 100% !important;
    }

    pinch-zoom {
      display: flex;
    }
  }

  .c-camera {
    &amp;--container {
      @include aspect-ratio;

      display: flex;
      flex: 1;
      overflow: hidden;
      position: relative;
    }

    &amp;--viewfinder {
      left: 50%;
      pointer-events: none;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 90%;
      z-index: map-get(settings.$z-index, &#x27;viewfinder&#x27;);

      &amp;__tv-frame {
        border: $viewfinder-stroke-width solid #fff;
        box-shadow: 0 0 0 999px rgb(0 0 0 / 50%);
        content: &#x27;&#x27;;
        display: block;
        padding-top: math.div(9, 16) * 100%;
        position: relative;
      }

      &amp;__tv-stand {
        border-bottom: $viewfinder-stroke-width solid #fff;
        border-radius: 5px;
        bottom: -$viewfinder-stand-offset;
        left: 50%;
        position: absolute;
        transform: translate(-50%, $viewfinder-stand-offset);
        width: 15%;
      }

      &amp;__tv-connector {
        border-left: $viewfinder-stroke-width solid #fff;
        bottom: -$viewfinder-stand-offset;
        content: &#x27;&#x27;;
        height: $viewfinder-stand-offset;
        left: 50%;
        position: absolute;
        transform: translate(-50%, 0);
      }
    }

    &amp;--footer {
      &amp;__powered-by {
        bottom: settings.$spacing-sm;
        color: #fff;
        font-size: settings.$font-xs;
        font-weight: 200;
        left: 0;
        position: absolute;
        right: 0;
        text-align: center;
        z-index: map-get(settings.$z-index, &#x27;viewfinder&#x27;) + 1;

        /* stylelint-disable-next-line max-nesting-depth*/
        @include tools.media-tiny--portrait {
          bottom: settings.$spacing-xs;
        }
      }
    }
  }
}
</code></pre>
    </div>

    <div class="tab-pane fade " id="c-tree">
        <div id="tree-container"></div>
        <div class="tree-legend">
            <div class="title">
                <b>Legend</b>
            </div>
            <div>
                <div class="color htmlelement"></div><span>Html element</span>
            </div>
            <div>
                <div class="color component"></div><span>Component</span>
            </div>
            <div>
                <div class="color directive"></div><span>Html element with directive</span>
            </div>
        </div>
    </div>

    
</div>

<script src="../js/libs/vis.min.js"></script>
<script src="../js/libs/htmlparser.js"></script>
<script src="../js/libs/deep-iterator.js"></script>
<script>
        var COMPONENT_TEMPLATE = '<div><div class="c-camera--container">  <pinch-zoom [disablePan]="true" [disableZoomControl]="\'disable\'" [limitPan]="true" [minScale]="1">    <webcam      (cameraSwitched)="cameraSwitched($event)"      (initError)="handleInitError($event)"      [allowCameraSwitch]="false"      [switchCamera]="nextWebcam$"      [videoOptions]="videoOptions"    ></webcam>  </pinch-zoom>  <div class="c-camera--viewfinder" #viewFinder *ngIf="mediaDeviceStateStore.webcamIsReady$ | async">    <div class="c-camera--viewfinder__tv-frame"></div>    <div class="c-camera--viewfinder__tv-stand"></div>    <div class="c-camera--viewfinder__tv-connector"></div>  </div>  <div class="c-camera--footer__powered-by">Powered by SnapOdds</div></div><ng-container *ngIf="debugImageManipulations()">  <img    *ngIf="imageAsDataUrl"    [src]="imageAsDataUrl"    style="max-width: 320px; outline: 1px solid red"    alt="debug-image"  /></ng-container></div>'
    var COMPONENTS = [{'name': 'AppComponent', 'selector': 'snapodds-sdk'},{'name': 'ContentComponent', 'selector': 'snapodds-content'},{'name': 'FooterComponent', 'selector': 'snapodds-footer'},{'name': 'HeaderComponent', 'selector': 'snapodds-header'},{'name': 'HelpComponent', 'selector': 'snapodds-help'},{'name': 'OddsComponent', 'selector': 'snapodds-odds'},{'name': 'SnapComponent', 'selector': 'snapodds-snap'},{'name': 'SpinnerComponent', 'selector': 'snapodds-spinner'},{'name': 'SwitchSvgComponent', 'selector': 'snapodds-switch-svg'},{'name': 'TriggerComponent', 'selector': 'snapodds-trigger'},{'name': 'TriggerSvgComponent', 'selector': 'snapodds-trigger-svg'},{'name': 'UserFeedbackMessageComponent', 'selector': 'snapodds-user-feedback-message'},{'name': 'WebcamComponent', 'selector': 'snapodds-webcam'}];
    var DIRECTIVES = [];
    var ACTUAL_COMPONENT = {'name': 'WebcamComponent'};
</script>
<script src="../js/tree.js"></script>
















                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> results matching "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">No results matching "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
               <!-- END CONTENT -->
           </div>
       </div>

          <label class="dark-mode-switch">
               <input type="checkbox">
               <span class="slider">
                    <svg class="slider-icon" viewBox="0 0 24 24" fill="none" height="20" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" width="20" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path>
                    </svg>
               </span>
          </label>

       <script>
            var COMPODOC_CURRENT_PAGE_DEPTH = 1;
            var COMPODOC_CURRENT_PAGE_CONTEXT = 'component';
            var COMPODOC_CURRENT_PAGE_URL = 'WebcamComponent.html';
            var MAX_SEARCH_RESULTS = 15;
       </script>

       <script src="../js/libs/custom-elements.min.js"></script>
       <script src="../js/libs/lit-html.js"></script>

       <script src="../js/menu-wc.js" defer></script>
       <script nomodule src="../js/menu-wc_es5.js" defer></script>

       <script src="../js/libs/bootstrap-native.js"></script>

       <script src="../js/libs/es6-shim.min.js"></script>
       <script src="../js/libs/EventDispatcher.js"></script>
       <script src="../js/libs/promise.min.js"></script>
       <script src="../js/libs/zepto.min.js"></script>

       <script src="../js/compodoc.js"></script>

       <script src="../js/tabs.js"></script>
       <script src="../js/menu.js"></script>
       <script src="../js/libs/clipboard.min.js"></script>
       <script src="../js/libs/prism.js"></script>
       <script src="../js/sourceCode.js"></script>
          <script src="../js/search/search.js"></script>
          <script src="../js/search/lunr.min.js"></script>
          <script src="../js/search/search-lunr.js"></script>
          <script src="../js/search/search_index.js"></script>
       <script src="../js/lazy-load-graphs.js"></script>


    </body>
</html>
