@use 'tools';
@use 'settings';
@use 'sass:math';

:host {
  display: flex;
  flex: 1;
  flex-direction: column;

  .l-flex {
    display: flex;
    flex: 1;

    &__center {
      align-items: center;
      display: flex;
      flex: 1;
      justify-content: center;
    }
  }

  @media (orientation: landscape) {
    .l-flex {
      &__column--landscape {
        flex-direction: column;
      }

      &__row--landscape {
        flex-direction: row;
      }
    }
  }

  @media (orientation: portrait) {
    .l-flex {
      &__column--portrait {
        flex-direction: column;
      }

      &__row--portrait {
        flex-direction: row;
      }
    }
  }

  snapodds-webcam {
    display: flex;
    flex: 1;
  }

  snapodds-content {
    margin: settings.$spacing-base;

    @include tools.media-small--portrait {
      margin: settings.$spacing-base settings.$spacing-lg;
    }

    @include tools.media-tiny--portrait {
      margin: settings.$spacing-sm;
    }

    @include tools.media-tiny--landscape {
      margin: settings.$spacing-base settings.$spacing-lg;
    }
  }

  snapodds-footer {
    margin-left: settings.$spacing-lg;
    margin-right: settings.$spacing-lg;
  }

  snapodds-trigger {
    display: flex;
    flex: 1;
    justify-content: center;
  }

  button {
    @include tools.button-reset();
    font-size: settings.$font-base;
  }

  .c-footer {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;

    &__switch-camera {
      @include tools.button-reset;

      color: settings.$color-primary;
      display: flex;
      flex: 1;
      justify-content: center;
    }

    &__reload-button {
      @include tools.button-reset;
      background-color: settings.$color-primary;
      color: settings.$color-text-focus;

      font-size: settings.$font-lg;
      font-weight: 500;
      padding: settings.$spacing-base settings.$spacing-lg;
    }

    &__powered-by {
      font-size: settings.$font-sm;
    }

    &__spacer {
      display: flex;
      flex: 1;
    }
  }
}
