@use 'tools';
@use 'settings';

:host {
  background-color: settings.$color-background;

  color: settings.$color-text;
  display: flex;
  flex: 1;
  font-family: var(--snapodds__font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.3;
}

/* stylelint-disable-next-line selector-pseudo-element-no-unknown */
::ng-deep {
  /**
    Used when disabling global scrolling.
    @see https://github.com/angular/components/blob/f8dadb3246c778a3916db72ead9033ebb32bc814/src/cdk/overlay/_index.scss
   */
  .cdk-global-scrollblock {
    overflow-y: scroll;
    position: fixed;
    width: 100%;
  }
}
