@use 'tools';
@use 'settings';

:host {
  background-color: settings.$color-background;

  color: settings.$color-text;
  display: flex;
  flex: 1;
  font-family: var(--snapodds__font-family);
  font-size: 1em;
  font-weight: 500;
  line-height: 1.3;
}
