@use 'settings';
@use 'tools';

:host {
  .c-odds-table {
    background-color: settings.$color-background;
    color: settings.$color-text;
    display: flex;
    flex-direction: column;
    margin-bottom: settings.$spacing-xs;
    padding: settings.$spacing-base;

    @include tools.media-tiny--portrait {
      padding: settings.$spacing-sm;
    }

    &--best-offer {
      background-color: settings.$color-primary;
      color: #000;
      margin-bottom: 0;
    }
  }

  .c-odds-table-lines {
    &__separator {
      border-bottom: 1px solid settings.$color-accent;
      flex: 1;

      &--best-offer {
        border-bottom: 1px solid settings.$color-accent-shade;
      }
    }
  }
}
