<div class="c-game-header">
  <div class="c-game-header__sports-book" [class.c-game-header__sports-book--best-offer]="best">
    <ng-container *ngIf="best">{{ 'Snapodds_Odds_BestOdds' | translate }}</ng-container>
    <ng-container *ngIf="!best">{{ name }}</ng-container>
  </div>

  <div class="c-game-header__lines">
    <div class="c-game-header__line l-order-{{ oddsOfferOrder | oddsOrdering: 'SPREAD' }}">Spread</div>
    <div class="c-game-header__line l-order-{{ oddsOfferOrder | oddsOrdering: 'MONEYLINE' }}">Money</div>
    <div class="c-game-header__line l-order-{{ oddsOfferOrder | oddsOrdering: 'OVER_UNDER' }}">Total</div>
  </div>
</div>
