@use 'tools';
@use 'settings';

$box--width: 4rem;

:host {
  display: flex;
  flex: 1;
  flex-direction: column;

  snapodds-content {
    padding: settings.$spacing-base;
  }

  snapodds-footer {
    padding: settings.$spacing-base settings.$spacing-base 0;
  }

  button {
    @include tools.button-reset();
    font-size: settings.$font-base;
  }

  .c-help {
    &__close-button {
      background-color: settings.$color-primary;
      color: settings.$color-text-focus;
      font-size: settings.$font-lg;
      font-weight: 500;
      padding: settings.$spacing-base settings.$spacing-lg;
    }
  }
}
