<div class="c-camera--container">
  <pinch-zoom [disablePan]="true" [disableZoomControl]="'disable'" [limitPan]="true" [minScale]="1">
    <webcam
      (cameraSwitched)="cameraSwitched($event)"
      (initError)="handleInitError($event)"
      [allowCameraSwitch]="false"
      [switchCamera]="nextWebcam$"
      [videoOptions]="videoOptions"
    ></webcam>
  </pinch-zoom>

  <div class="c-camera--viewfinder" #viewFinder *ngIf="mediaDeviceStateStore.webcamIsReady$ | async">
    <div class="c-camera--viewfinder__tv-frame"></div>
    <div class="c-camera--viewfinder__tv-stand"></div>
    <div class="c-camera--viewfinder__tv-connector"></div>
  </div>

  <div class="c-camera--footer__powered-by">Powered by <strong>SnapOdds</strong></div>
</div>

<ng-container *ngIf="debugImageManipulations()">
  <img
    *ngIf="imageAsDataUrl"
    [src]="imageAsDataUrl"
    style="max-width: 320px; outline: 1px solid red"
    alt="debug-image"
  />
</ng-container>
